@media (max-width: 1520px) {
  .left-svg {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(8 9 9);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a67d8;
}

/* small css for the mobile nav close */
#nav-mobile-btn.close span:first-child {
  transform: rotate(45deg);
  top: 4px;
  position: relative;
  background: #a0aec0;
  text-align: center;
  transition: 0.3s;
}

#nav-mobile-btn.close span:nth-child(2) {
  transform: rotate(-45deg);
  text-align: center;
  margin-top: 0px;
  background: #a0aec0;
  transition: 0.3s;
}
@media (max-width: 750px) {
  .left-svg {
    display: block;
  }
  nav {
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
}
.flexcls {
  justify-content: center;
  align-items: center;
}

.circle-radius:hover {
  border-radius: 50px 15px;
}
